<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-card>

    <!-- <ion-item >
      <ion-avatar item-left>
        <img src="https://avatars.io/facebook/hvdai22796"/>
      </ion-avatar>
      <h3>Hoang Dai đã bình luận về bài viết của bạn.</h3>
      <p><ion-icon name="text"></ion-icon> 3 giờ trước</p>
    </ion-item> -->

<!-- template 1 like notify -->
    <ion-card *ngFor="let user of users">
        <ion-item>
            <ion-avatar item-start>
              <img src="{{user.avatar}}">     
            </ion-avatar>
            <h2>{{user.first_name}} {{user.last_name}} đã thích bài viết của bạn</h2>
            <p><ion-icon name="thumbs-up"></ion-icon> 2 giờ trước</p>   <!-- {{user.dateLike}} -->
          </ion-item>
    </ion-card>
<!--End template 1 like notify -->

<!-- template 1 comment notify -->
<ion-card *ngFor="let user of users">
    <ion-item>
        <ion-avatar item-start>
          <img src="{{user.avatar}}">     
        </ion-avatar>
        <h2>{{user.first_name}} {{user.last_name}} đã bình luận bài viết của bạn</h2>
        <p><ion-icon name="text"></ion-icon> 2 giờ trước</p>   <!-- {{user.dateComment}} -->
      </ion-item>
</ion-card>
<!--End template 1 comment notify -->

<!-- template 1 share notify -->
<ion-card *ngFor="let user of users">
    <ion-item>
        <ion-avatar item-start>
          <img src="{{user.avatar}}">     
        </ion-avatar>
        <h2>{{user.first_name}} {{user.last_name}} đã chia sẻ bài viết của bạn</h2>
        <p><ion-icon name="md-share"></ion-icon> 2 giờ trước</p>   <!-- {{user.dateLike}} -->
      </ion-item>
</ion-card>
<!--End template 1 share notify -->

  </ion-card>
<!-- Event when load more notify-->
<ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage" distance="2%">
    <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu..."></ion-infinite-scroll-content>
</ion-infinite-scroll>
<!-- End event when load more notify-->
</ion-content> 



<h1>{{myMessage}}</h1>


