<ion-header>
  <ion-toolbar color="primary">
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>
</ion-content>

<ion-content padding>


    <!-- Refresh to get the new posts -->
    <ion-refresher pulling-text="Kéo xuống để nạp lại..." on-refresh="getNewData()">
    </ion-refresher>

    <div ng-if1="is_trend_feed || is_category_feed" class="row filtered-feed-header-outer">
      <div ng-if="is_category_feed" class="col filtered-feed-header">
        <div multi-bg="[current_category.image]" interval="3000" helper-class="category-with-image">
          <div class="filtered-feed-header-content">
            <h2 class="header-title"></h2>
          </div>
        </div>
      </div>
      
    </div>
    
    <ion-card class="card new-post">
    
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-0/p110x80/20525829_10155465935304827_6180149545356342170_n.jpg?oh=482c03a6c76b493e2a6ef0bcf11e2fb9&oe=5A70EFF9">
          </ion-avatar>          
          <a class="new-post-call-to-action" (click)="newStatusPost({charNum: 0})">
            <h3 class="new-post-copy">Bạn đang canh tác gì?</h3>
          </a>
        </ion-item>
      </ion-list>

      <ion-grid class="tabs tabs-icon-left">
        <ion-row>
          <ion-col class="tab-item" (click)="newStatusPost({charNum: 0})">
            <ion-icon name="create"></ion-icon>
            Nhật ký
          </ion-col>
          <ion-col class="tab-item" (click)="newImageStatusPost()">
            <ion-icon name="camera"></ion-icon>
            Hình ảnh
          </ion-col>
          <ion-col class="tab-item" (click)="checkinStatusPost()">
            <ion-icon name="pin"></ion-icon>
            Ra vườn
          </ion-col>
        </ion-row>
      </ion-grid>
      
      

    </ion-card>
    
    

    <!-- Infinit scroll -->
    <ion-infinite-scroll ng-if="moreDataCanBeLoaded()" on-infinite="loadMoreData()" distance="2%">
    </ion-infinite-scroll>



  

</ion-content>
