<ion-header>
  <ion-toolbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>  
    <ion-searchbar (input)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
  <ion-list>
    <ion-item *ngFor="let item of items">
      {{ item }}
    </ion-item>
  </ion-list>



  <!-- Refresh to get the new posts -->
  <ion-refresher pulling-text="Kéo xuống để nạp lại..." on-refresh="getNewData()">
  </ion-refresher>

<!-- card new post -->
  <ion-card class="card new-post">    
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="https://scontent.fhan5-1.fna.fbcdn.net/v/t1.0-0/p110x80/20525829_10155465935304827_6180149545356342170_n.jpg?oh=482c03a6c76b493e2a6ef0bcf11e2fb9&oe=5A70EFF9">
        </ion-avatar>          
        <a class="new-post-call-to-action" (click)="newStatusPost({charNum: 0})">
          <h3 class="new-post-copy">Bạn đang canh tác gì?</h3>
        </a>
      </ion-item>
    </ion-list>

    <ion-grid class="tabs tabs-icon-left">
      <ion-row>
        <ion-col class="tab-item" (click)="newStatusPost({charNum: 0})">
          <ion-icon name="create"></ion-icon>
          Nhật ký
        </ion-col>
        <ion-col class="tab-item" (click)="newImageStatusPost()">
          <ion-icon name="camera"></ion-icon>
          Hình ảnh
        </ion-col>
        <ion-col class="tab-item" (click)="checkinStatusPost()">
          <ion-icon name="pin"></ion-icon>
          Ra vườn
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
<!--End card new post -->

<!-- none status -->
  <ion-card class="feed-cards-outer">
  
    <div *ngIf="cards.length > 0" ng-repeat="card in cards" class="post-card-outer">
      <!-- <section ng-include="'views/app/partials/feed-post-card.html'" class="post-card-outer"></section> -->
      <section ng-include="'views/app/partials/feed-post-card.html'"></section>
    </div>
    <div *ngIf="cards.length == 0" class="row row-center empty-feed-outer">
      <div class="col">
        <i class="empty-feed-icon icon ion-sad-outline"></i>
        <h2 class="empty-feed-text">Không có Bài viết nào</h2>
      </div>
    </div>
  
  </ion-card>
<!--End none status -->

<!-- template 1 status -->
  <ion-card *ngFor="let card of cards; let i= index">

      <ion-item>
        <ion-avatar item-start>
          <!--img src="{{user.avatar}}"-->     <!-- Get avatar here -->
        </ion-avatar>
        <!--h2>{{user.first_name}} {{user.last_name}}</h2-->
        <p>Ngày 12 tháng 11</p>
      </ion-item>
    
      <img src="http://afamilycdn.com/zoom/290_190/2017/t-1507085428222-0-0-375-600-crop-1510132428947.jpg">  <!-- {{cards[i].picture}} -->
    
      <ion-card-content>
        <p>{{cards[i].title}}</p>
      </ion-card-content>
    
      <ion-row>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="thumbs-up"></ion-icon>
            <div>{{cards[i].likes}} Thích</div>
          </button>
        </ion-col>
        <ion-col>
          <button ion-button icon-left clear small>
            <ion-icon name="text"></ion-icon>
            <div>{{cards[i].comments}} Bình luận</div>
          </button>
        </ion-col>
        <ion-col center text-center>
          <ion-note>
            11giờ trước
          </ion-note>
        </ion-col>
      </ion-row>

  </ion-card>
<!--End template 1 status -->

<!-- Event when load more status -->
  <ion-infinite-scroll (ionInfinite)="doInfinite($event)" *ngIf="page < totalPage" distance="2%">
      <ion-infinite-scroll-content loadingSpinner="bubbles" loadingText="Đang tải dữ liệu..."></ion-infinite-scroll-content>
  </ion-infinite-scroll>
<!-- End event when load more status -->

</ion-content>
